{
    "env": {
        "test": {
            "presets": [["env", { "modules": "commonjs" }]],
            "plugins": ["dynamic-import-node"]
        },
        "production": {
        "presets": [["env", { "modules": false }]]
        }
    },
    "presets": [
        ["@babel/preset-env", {
            "targets": { 
                "node": 6,
                "browsers": [
                    "> 1%",
                    "last 2 versions"
                ] 
            }
        }],
        ["@babel/preset-react", {
            "development": true
        }]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-proposal-decorators", {
            "legacy": true
        }],
        ["@babel/plugin-proposal-class-properties", {
            "loose": true
        }],
        "babel-plugin-styled-components",
        "lodash",
        ["transform-imports", {
            "lodash": {
                "transform": "lodash/${member}",
                "preventFullImport": true
            }
        }]
    ]
}